:root {
    --blanco: #ffffff;
    --negro: #000000;
    --rojo: #ff0000;
    --verde: #09ff00;  
    --gris: #b4b4b4;  
    --celeste: #0073b1; 
    --transparente: #ece6e600;
    --fondo:#101010;
    /* --gris:#c7c7c7; */
    --gris-oscuro:#656972;
}