@import url("paletaColores.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("../img/fondo.jpeg");
    background-size: cover;
    /* La imagen ocupará todo el espacio y se ajustará */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

header {
    top: 0;
    width: 100%;
    height: 15%;
    padding: 10px 20px;
    background-color: var(--gris-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px var(--negro);
    z-index: 1000;
}

.logo img {
    height: 60px;
    width: 60px;
    max-width: 100%;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--gris);
    color: var(--blanco);
}

nav ul li a:active {
    background-color: var(--negro);
    color: var(--blanco);
}

.section-container {
    z-index: 2;
    width: 100%;
    max-width: 1200px;
}

.fondo-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

main {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
    min-height: 90vh;
}

.content {
    display: none;
}

/* Clase activa para mostrar la sección seleccionada */
.content.active {
    display: block;
}

section {
    padding: 20px;
    color: var(--blanco);
    border: 5px solid var(--blanco);
    border-radius: 5px;
    background-color: var(--transparente);
    min-height: 85vh;
}

article {
    margin-bottom: 20px;
    
}

aside {
    flex: 1;
    color: var(--blanco);
    padding: 20px;
    border: 5px solid var(--blanco);
    border-radius: 5px;
    background-color: var(--gris-claro);
    height: fit-content;
    min-height: 85vh;
}

.content {
    display: none;
    transition: all 0.3s ease-in-out;
}

.toggle-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}

.toggle-btn:hover {
    background-color: #45a049;
}

.active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

footer {
    background-color: var(--fondo);
    padding: 20px;
    text-align: center;
    margin-top: auto;
    box-shadow: 0 2px 5px var(--negro);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

li {
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
}

.name-list {
    color: var(--blanco);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
    color: var(--blanco);
}

.github-list a {
    color: white;
}

.linkedin-list a {
    color: white;
}